.container__input{
    display: flex;
    flex-direction: column;
}

.input__label{
    margin: 1.63rem 0 .5rem 0;

    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    color: var(--cor-preto);
}

.input {
    width: 28.0625rem;
    height: 3.9375rem;
    padding-left: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--cor-borda); 
}

.input::placeholder {
    color: #FFF;
}

.modal {
    width: 30.3125rem;
}